/*----------------------------
  
  layout： index
  author： Toby
  tags  ： todo
  create: 2016/9/23

==============================

  |-- 
  |-- 
  |-- 
  |-- 


-----------------------------*/

@import "../../base/base.scss";



.header{
    
    @include card-1;
    @include rect(100%,50px);
    position: fixed;
    // background-color: #fff;
    overflow: hidden;
    z-index:10;

    
    // .absolute-container{
        
    //     position: absolute;
    //     width: 100%;

    // }

    // .logo-container{
        
    //     @include center;
    //     @include square(70px);
    //     margin-top: 30px;

    //     .logo{
            
    //         @include square(80px);
    //         background-image: url('./alton-logo-done.png');
    //         background-size: cover;
    //         transform: translateX(-4px);    
    //     }
    // }



    .logo-container{
        
        @include square(35px);
        @include margin-leftop(30px,20px);
        float: left;
        img{

            @include square(35px);
            // display: block;
        }
    }


    .navi-container{
        
        @include rect(300px,30px);
        @include margin-leftop(190px,22px);
        position: relative;

        z-index: 10;
        /* margin-left: 190px; */
        margin-top: 22px;
        margin-top: 12px;
        z-index: 10;
        float: right;


    }
    
    
    .cart-container{
        @include square(30px);
        margin-top: -30px;
        margin-right:60px;
        cursor: pointer;
        float: right;



        &:hover{

            .empty-tooltip {
                opacity: 1;
            }
        }


        .empty-tooltip{
            
            @include shadow-effect(3);
            width: 180px;
            background-color: #5F5F5F;
            color: #fff;
            text-align: center;
            padding: 10px 10px;
            border-radius: 3px;
            padding-left: 15px;
                

            opacity: 0;
            pointer-events:none;
            transition:all .4s ease-in-out;


            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 1;
            
            top: -5px;
            right: 130%; 

            &:after {
                content: " ";
                position: absolute;
                top: 50%;
                left: 100%; /* To the right of the tooltip */
                margin-top: -10px; 
                border-width: 10px;
                border-style: solid;
                border-color: transparent transparent transparent #5F5F5F;
            }
        }
        
        a{

            position: absolute;
        }
        .cart-btn{
            @include square(30px);
            @include bg-cover('./cart-icon.png');
        
        }
        

        .notification-container{

            margin-top: -32px;
            margin-left: 4px;
        }
        
        


    }
    






    
}
