@import "../../base/base.scss";

.event-list-comp{
    @include rect-center(960px,initial);
	@include margin-v(20px);
	margin-top: 50px;
	
    .event-list-li{
        
        @include rect-center(450px,300px);
		@include margin(15px);
		margin-bottom: 70px;
        transition:all .2s ease-in-out;
		float: left;
		text-align: center;

		img{

			@include rect-center(350px,200px);
		}
	

		.divide-line{
			@include margin-v(10px);
			@include rect(100%,1px);
			background-color:#000;

		}

		.info{
			width: 400px;
			min-height:110px;
			line-height: 26px;
			text-align: justify;

		}

		.read-more{

			@include rect(140px,40px);
			margin-top: 30px;
			float: right;
			color:#fff;
		}


		
        


    }
}