@import "../../base/base.scss";

.footer {
    
    @include rect(100%,50px);
    // margin-top: 100px;
    position: relative;
    z-index: 2;
    text-align: center;
    


    .top-part-bg{
        
        @include rect(100%,200px);
        // background-color: #806044;
        background-color: #3C3734;
        overflow: hidden;
        
        .info-container{
            
            @include rect-center(900px,100px);
            margin-top: 50px;
            color:#fff;
            transform:translateX(50px);
            cursor:default;

            .info-grp{
                
                
                @include rect(300px,initial);
                float: left;
                
                .info-title{
                    
                    font-size:16px;
                    text-align: left;

                    &:after{
                        
                        @include rect(140px,2px);
                        @include margin-leftop(5px,10px);
                        content:"";
                        position: absolute;
                        margin-left: 5px;
                        border:1px solid #fff;
                    }
                }

                .info-content-01{
                    
                    
                    ul{

                        @include rect(150px,60px);
                        margin-top: 10px;
                        text-align: left;

                        li{
                            @include rect(75px,30px);
                            float: left;


                            // &:nth-child(1){

                            //     margin-left: -10px;
                            // }

                            // &:nth-child(3){

                            //     margin-left: -10px;
                            // }

                            a{
                                
                                color:#fff;
                                text-decoration: none;
                                cursor: pointer;

                            }
                        }

                    }
                }

                .info-content-02{
                    
                    ul{
            
                        @include rect(260px,60px);
                        margin-top: 10px;

                        li{
                            @include rect(230px,30px);
                            text-align: left;
                            
                        }

                    }
                }

                .info-content-03{
                    
                    
                    ul{

                        @include rect(250px,60px);
                        margin-top: 10px;
                        a{
                            @include rect(30px,30px);
                            
                            display: block;
                            float:left;
                            cursor:pointer;
                            
                            &:nth-child(2){
                                    
                                margin-left: 30px;

                            }



                            img{

                                @include rect(30px,30px);
                                float: left;

                                &:nth-child(2){
                                    
                                    @include margin(30px);


                                }


                            }
                        }
                        

                    }
                }



            }


        }

    }

    .bottom-part-bg{
        
        @include rect(100%,50px);
        @include text-middle(50px);
        background-color: #3C3734;

        span{
            color:#fff;
        }

    }



    



}

