@import "../../base/base.scss";


.member-intro-comp{
    
    @include rect-center(1160px,initial);
    @include margin-v(50px);
    overflow: hidden;

    .member-intro-li{
        
        @include rect(230px,350px);
        @include margin(30px);
        float: left;

        img{

            @include square(200px);
        }
    }
  
  
}

// 小於1024px
@media (max-width: $screen-l) {
	.member-intro-comp{
        @include rect-center(580px,initial);
    }
}

// 小於 768px
@media (max-width: $screen-m) {
	.member-intro-comp{
        @include rect-center(290px,initial);
    }
}