@import "../../base/base.scss";


.main-bg{
    
    .section-grp{

        @include rect(100%,initial);
        position: relative;
        text-align: center;
        min-height:400px;
        overflow: hidden;
        margin-bottom: 50px;
        
    }   


    .section-01{

        .section-01-info{

            @include rect-center(570px,initial);
            margin-top: 70px;
            overflow: hidden;

            .section-01-icon{

                @include rect-center(250px,250px);

            }
            .section-02-icon{

                @include rect-center(400px,40px);
                margin-top: 30px;
                @include margin-v(30px);
            }

        }
    }

    .section-02{}

    .section-03{
        @include rect(100%,initial);

        .coop-img{

            @include rect-center(1050px,250px);
            margin-top: 60px;
        }

    }
    
    .divide-img{

        @include rect(100%,460px);
        background-image: url('../../assets/images/index/index-banner.jpg');
        // background-color: gray;
        text-align: center;
        color:#fff;
        font-size: 85px;
        line-height: 460px;
    }

    

}



// 小於 768px
@media (max-width: $screen-m) {
    //con最大不得超過 320px
    .main-bg .section-01 .section-01-info{
        width: 320px;
        h5{
            line-height: 24px;
        }
    }


    .main-bg .divide-img{
        font-size: 48px;
    }


}