@import "../../base/base.scss";


.join-bg{

    .banner-bg{
        // margin-top: 50px;
        overflow: hidden;

        img{
            @include rect(100%,initial);
        }

        span{
            
            width: 100%;
            margin-top: -20%;
            text-align: center;
            color: #fff;
            font-size: 30px;
            font-weight: 400;
            display:inline-block;
            vertical-align: middle;

        }
    }

}