@import "../../base/base.scss";


.event-block-comp{
    
    @include rect-center(1080px,300px);
    @include margin-v(50px);

    .event-block-li{
        
        @include rect(320px,initial);
        @include margin(20px);
        position: relative;
        text-align: center;
        float: left;


        img{
            
            @include rect(320px,220px);

        }

        span{

            font-size: 18px;
            font-weight: bold;

        }

        .info{
            
            line-height: 25px;
        }

    }
  
}

