@import "../../base/base.scss";


.event-bg{
    overflow: hidden;


    .banner-bg{
        // margin-top: 50px;
        overflow: hidden;

        img{
            @include rect(100%,initial);
        }

        span{
            
            width: 100%;
            margin-top: -20%;
            text-align: center;
            color: #fff;
            font-size: 30px;
            font-weight: 400;
            display:inline-block;
            vertical-align: middle;

        }
    }

    .slider-container{
        margin-top: 50px;
    }
    
    .tabs-container{
        min-height: 500px;
    }


    //客製化 TABS
    .react-tabs{
    
        .react-tabs__tab-list{

            @include rect-center(385px,initial);
            overflow: hidden;

            .divide-line{
                @include rect(2px,40px);
                @include margin(20px);
                background-color:#000;
                float: left;

            }
            li{ 
                font-size: 20px;
                font-weight: bolder;
                line-height: 40px;
                float: left;
                cursor:pointer;

            }

        }

        .tabs-01{

            min-height: 500px;


        }


    }
    

}
