@import "../../base/base.scss";

.hero-image-bg {
    
    
    @include dark-glass;
    @include bg-cover('../../assets/images/index/index-banner.jpg');
    @include rect(100%,500px);
    text-align: center;
    color:#fff;
    overflow:hidden;
    
    &:before{

        height:510px;
        margin-top: -9px;

    }

    .title-container{
        
        position: relative;
        margin-top: 100px;
        z-index: 1;


        .title-img{

            @include center;

        }

        .info{

            margin-top: 40px;
        }
        a{
            text-decoration: none;
            button{

                @include rect-center(135px,30px);
                background-color: rgba(0,0,0,0.4);
                color:#fff;
                outline: none;
                border:none;
                margin-top: 40px;

            }
        }
        

    }
    
    
    
}



// .example-enter {
//   opacity: 0.01;
//   width: 0px;
// }

// .example-enter.example-enter-active {
//   opacity: 1;
//   width: 100px;
//   transition: 700ms;
// }

// .example-leave {
//   opacity: 1;
//   width: 100px;
// }

// .example-leave.example-leave-active {
//   opacity: 0.01;
//   width: 0px;
//   transition: 700ms;
// }

.text-fade-appear {
  opacity: 0.01;
  transform:translateY(30px);
  transition: all .75s ease-in-out;
}

.text-fade-appear.text-fade-appear-active {

  transform:translateY(0px);
  opacity: 1;
}