

/*------- COLOR -------*/


// $pale-teal-light: #97d5ab;
// $light-sage: #e5f2c9;
$pinkish-grey: #c8c8c8;
// $warm-grey: #9f9f9f;
// $white: #f8f8f8;

// $light-olive-green: #acb94b;  
// $sand: #c0d74f;
// $green-blue: #20bc8e;
// $light-grey: #f3f3f3;
$brown: #372113;
$purpley-grey: #8e8c8f;

 

$black: #3b3b3b;
$grey:#9B9B9B;
$dark-grey:#979797;




//首頁
//課程

//線上商品

$modal-title: #373737;
$modal-info: #4A4A4A;


$price-brown: #5E2C0F;
$btn-brown: #A87C4F;




//購物車


/*------- 尺寸 new -------*/
// screen-s < s < screen-m
// screen-m < m < screen-l
// screen-l < l < screen-xl

$screen-s: 320px;
$screen-m: 768px;
$screen-l: 1024px;
$screen-xl: 1440px;

/*------- MIXIN -------*/
@mixin center{

    margin-left: auto;
    margin-right: auto;
}


@mixin margin($px){

    margin-left: $px;
    margin-right: $px;
}

@mixin margin-v($px){

    margin-top: $px;
    margin-bottom: $px;
}

@mixin margin-leftop($left,$top){

    margin-left: $left;
    margin-top: $top;

}

@mixin rect($width,$height){

    width: $width;
    height: $height;
}


@mixin rect-center($width,$height){
    
    width: $width;
    height: $height;
    margin-left: auto;
    margin-right:auto;
}


@mixin square($px){

    width: $px;
    height: $px;
}

@mixin circle($px){

    width: $px;
    height: $px;
    border-radius: 99em;
}

@mixin bg-cover($url){

    background-image: url($url);
    background-repeat: no-repeat;
    background-size: cover; 
}


@mixin bg-contain($url){

    background-image: url($url);
    background-repeat: no-repeat;
    background-size: contain; 
}

@mixin text-center{

    width: 100%;
    text-align: center;
    display: inline-block;
    cursor: default;

}


@mixin text-middle($height){

    height: $height;
    line-height: $height;

}


@mixin component{

    height: 100%;
    line-height: 100%;

}



/*------- BUTTON -------*/

@mixin scale-button{
    
    transition:all .2s ease-in-out;
    cursor:pointer !important;

    &:hover{

        transform:scale(1.1);
    }

}

@mixin fullfill-button($bg-color,$font-color){
    
    transition:all .2s ease-in-out;
    cursor:pointer !important;

    &:hover{
        opacity:1;
        background-color:$bg-color;
        color:$font-color;
    }

}

@mixin opacity-button{
    
    transition:all .2s ease-in-out;
    cursor:pointer !important;

    &:hover{
        opacity:1;
    }

    .button:active{
        
        opacity:0.8;
        transform: translateY(4px);
    }

}

@mixin float-button{
    
    transition:all .2s ease-in-out;
    cursor:pointer !important;

    &:hover{
        @include shadow-effect(3);
        opacity:1;
    }

    .button:active{
        
        opacity:0.8;
        transform: translateY(4px);
    }

}




//用在buttton上面
@mixin slide-down-button{
    
    &:after {

        background: brown;
        content: '';
        position: absolute;
        z-index: -1;


        height: 0;
        margin-left: 0;
        margin-top: 0;
        width: 100%;

    }
    

    &:hover{
        color: #2ecc71;
        &:after{

            height: 100%;
        }
    }
   

}

/*------- 加上暗玻璃特效 -------*/

@mixin dark-glass{

    &:before{


        @include rect(100%,100%);
        margin-left: -50%;
        content: '';
        position: absolute;
        background-color: rgba(32,26,22,.7);
        // background-color: rgba(0,0,0,0.8);
        z-index: 0;

    }


}






/*------- MIXIN CARD -------*/

@mixin card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 2px;



}


.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


@mixin card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 2px;
}

@mixin card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 2px;
}

@mixin card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 2px;
}

@mixin card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 2px;
}


/*------- SHADOW EFFECT -------*/

@mixin shadow-effect($level){
    @if $level == 1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    @else if $level == 2  {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    @else if $level == 3  {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    @else if $level == 4  {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    @else if $level == 5  {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}




/*------- BASE -------*/

body{
    
    font-family: PingFangSC-Light, sans-serif;
    

    button,iframe{

        display: block;
    }
    
    /*------- 字體 -------*/

    h1{ font-size: 36px; }
    h2{ font-size: 30px; }
    h3{ font-size: 24px; }
    h4{ font-size: 20px; }
    h5{ font-size: 16px; }
    h6{ font-size: 14px; }

    span{font-size: 14px;  }
    p{ font-size: 12px; }


    /*------- 圖片 -------*/
    img {
        display: none;
    }


    img[src] {
       display: block;
    }


    ul{

        list-style:none;
        padding-left: 0px;

        li{

            // cursor:pointer !important;
        }
    }

    li{
             list-style:none;
            // cursor:pointer !important;
    }

    
    a{
        text-decoration: none;
    }

    h1,h2,h3,h4,h5,h6,span{
        
        cursor:default !important;
    }





}