@import "../base/base.scss";
/*------- EXAMPLE -------*/


//一路由上往下規範
// @media (max-width: 1920px) {}





/*------- INITIAL VAR -------*/

$first-checkpoint: 1080px;

$tablet-width: 768px;

$second-checkpoint: 500px;

$third-checkpoint: 0px;










@media (max-width: $first-checkpoint) {
    

    //---------------------------   global   ---------------------------//
    
    
    .footer{
        .top-part-bg{
            .info-container{
                .info-grp{
                   width: 240px;
                }
            }
        }
    }







    //---------------------------   main   ---------------------------//
    .main-bg{
        width: device-width;
        .news-block-bg{

            background-color: #F4EEDE;

            .content-bg{
                width: 100%;
                box-shadow: none;

                ul{
                    width: 460px;
                    margin-top: 0px;
                    li{ 
                        width: 460px;
                        height: 100px;
                        span{

                            float: none;
                            
                        }

                        .date{

                            line-height: 110px;
                            font-weight: bold;
                            text-align: center;

                        }
                        .info{

                            text-align: center;
                        }
                    }
                }





            }
        }
        .intro-block-bg{
            // height: 1200px;
            .intro-block-li{
                
                // height: 400px;
                .intro-block-container{
            
                    width: 460px;

                    .img{

                        display: none;

                    }
                    
                    .info-container{
                        
                        width: 100%;
                        margin-left: 0px;


                        .title-container{

                            @include center;
                        }
                        .content{
                             
                        }
                    }
                }
            }
        }
        
        .highlight-bg {

            height: 550px;
            .content-bg{ 

                width: inherit;
                margin-top: 0px;

                .thumbnails-container{
                    width: 520px;
                    .thumbnails-comp{

                         .thumbnails-li{

                            &:nth-child(3){
                                display: none;
                            }
                            
                         }

                    }
                }
            }
        }



    }
    

    //---------------------------   news   ---------------------------//

    .news-bg{


        .title-container{

            background-color: #F4EEDE;
        }


        .content-bg{
            @include rect(100%,100%);
            ul{
                width: 460px;
                margin-top: 60px;
                li{ 
                    width: 460px;
                    height: 150px;
                    span{

                        float: none;
                        
                    }

                    .date{
                        width: 100%;
                        line-height: 60px;
                        font-weight: bold;
                        text-align: center;

                    }
                    .info{

                        text-align: center;
                        float: initial;
                    }
                }
            }
        }
    }
    

    //---------------------------   brew   ---------------------------//

    .brew-bg{

        .catalog-container{
            @include rect(100%,initial);
            .catalog-comp{
                .catalog-md{
                
                    display: none;

                    .video-bg{
                        @include rect(100%,520px);
                        .video-container{
                            @include rect(500px,280px);
                        }
                    }
                }


                .catalog-mb{

                    @include margin-v(50px);
                    display: block !important;

                    .country-select-mb{

                        margin-top: 20px;
                    }


                    .catalog-ul{

                        @include rect-center(500px,initial);
                        @include margin-v(50px);

                        span{

                            @include margin-v(10px);
                            display: block;

                        }


                        .title{
                            @include margin-v(20px);
                            font-size: 30px;
                        }

                        button{

                            @include opacity-button;
                            padding:8px 80px;
                            background-color: #A77C52;
                            margin-top: 20px;
                            border-radius: 3px;
                            text-align: center;
                            color: #fff;
                            opacity: 0.8;
                            
                            a{
                                
                                color:#fff;
                                text-decoration: none;

                            }

                        }
                    }

                }


            }
        

        }



    }




    //---------------------------   class   ---------------------------//
    .class-bg{

        .intro-bg{
            .intro-container{

                @include rect-center(350px,200px);
                margin-bottom: 40px;

                .content{
                    width: 320px;
                    text-align: justify;
                    br{
                        display: none;
                    }
                }
            }
        }

        .timeline-comp {    
            .timeline-li{

                width:510px;

                .time-container{
                    width: 160px;
                }

                .line-container{
                    width: 50px;
                }

                .info-container{
                    width: 300px;


                    // .outline{
                    //     width: 250px;
                    //     .end-icon{

                    //         margin-left: 160px;
                    //     }
                    // }
                }







                &:nth-child(2n+1){
                    
                    .time-container{
                        
                        text-align: right;
                        float: left;

                    }
                    
                    .line-container{
                        
                        float:left;
                    }
                    
                    .info-container{
                        
                        text-align: left;

                        .title{

                           
                        }

                        .outline{

                            margin-left: initial;

                            .end-icon{
                            
                                @include square(85px);
                                // @include bg-cover('../components/Timeline/class-end-right.png');
                                @include margin-leftop(220px,-50px);
                                content:'';
                                position: absolute;


                            }
                        }

                        button{

                            margin-left: initial;

                        }

                        


                    }

                }
            }
            
        }
    }


}//  < first




@media (max-width: $tablet-width) {

    
    //---------------------------   global   ---------------------------//
    
    #outer-container{
        .bm-burger-button {

            display: block;
        }
        
        .header{
            
            .logo-container{

                @include center;
                float: initial ;
            }
            .navi-container,.cart-container{

                display: none;

            }




        }

    }

    .footer{
        height:450px;
        .top-part-bg{
            height:400px;
            .info-container{
                width: 300px;
                .info-grp{
                    margin-bottom: 30px;
                    float: initial;
                    .info-content-01{
                        ul{
                            margin-left: 40px;
                        }
                    }

                    .info-content-02{
                        ul{
                            li:nth-child(2){

                                text-align:center;
                            }
                        }
                    }
                }
            }
        }
    }



}


@media (max-width: $second-checkpoint) {        //手機

    //---------------------------   global   ---------------------------//
    
     #outer-container{
            
            //
            // Burger menu custom styles
            //
            .bm-burger-button {
              
                @include rect(24px,20px);
                position: fixed;
                left: 30px;
                top: 28px;
                z-index: 20 !important;

                // border: 2px solid #777;
                // padding-left: 10px;
              
            }

    }



    .footer{
     
        .top-part-bg{
           
            .info-container{
                @include rect-center(230px,initial);
                transform: translateX(10px);
                .info-grp{
                    width: 100%;
                    .info-content-03{
                        ul{
                            @include rect-center(150px,30px);
                            margin-top: 15px;
                            transform:translateX(-10px);
                        }
                    }

                }
            }
        }
    }


    //---------------------------   main   ---------------------------//
    
    .main-bg{
        .news-block-bg{

            a{
                margin-top: 20px;
            }

            .content-bg{

                width: 100%;
                ul{
                    width: 100%;
                    li{
                        @include rect(100%,initial);
                        .date{
                            @include text-middle(30px);
                        }
                        .info{
                            @include rect(280px,initial);
                        } 
                    }
                }
            }
        }

        .intro-block-bg{
            .intro-block-li{
                .intro-block-container{
                    width: 280px;
                    .info-container{
                        .title-container{

                            @include rect(280px,44px);
                        }

                    }
                }
            }
        }


        .highlight-bg {
            .content-bg{ 
                .thumbnails-container{
                    @include rect-center(260px,initial);
                    .thumbnails-comp{
                        width: 100%;
                        .thumbnails-li{
                            &:nth-child(2){
                                display: none;
                            }
                        }
                    }
                }
            }
        }


    }

    //---------------------------   news   ---------------------------//

    .news-bg{
        
        .title-container{

            .title{

                @include rect(320px,initial);
            }
        }

        .content-bg{

            ul{

                width: 320px;
                transform:translateX(0px);

                li{

                    @include rect(100%,initial);
                    
                    .date{
                        float: none;
                    }

                    .info{

                        @include rect(280px,initial);
                        margin-bottom: 20px;
                    }

                    &:last-child(){
                        
                        border:none;

                    }
                }

            }
        }
    }


    //---------------------------   brew   ---------------------------//

    .brew-bg{

        .catalog-container{
            @include margin-v(120px);
            .catalog-comp{
                .catalog-mb{
                    .catalog-ul{
                        @include rect(100%,initial);

                        .catalog-li{

                            @include rect-center(280px,initial);
                                
                            .img-container{

                               img{

                                    width: 100%;
                                }
                            }

                        }
                        
                    }   
                }
            }
        }

    }

    //---------------------------   class   ---------------------------//
    .class-bg{
        
        .intro-bg{
            .intro-container{
                width: 320px;
                .content{

                    width: 280px;

                }
            }
        }
        
        .timeline-comp {    
            margin-top: 20px;
            .timeline-li{
                .time-container{
                    display: none;
                }

                .info-container{
                    width: 250px;
                    .rwd-time-container{
                        display: block;
                    }

                    .outline{
                        width: 250px;

                        .end-icon{

                            margin-left: 180px !important;
                        }

                    }





                }

            }
        }


    }
    

    //---------------------------   product   ---------------------------//
    

    .product-bg{

        .banner-bg{


            h1{
                padding-left: 16px;
                font-size:52px;
                letter-spacing: 15px;
            }
        }
        .shop-container{
            width: 100%;
            .shop-comp{

                .search-container{

                    width: 320px;
                    text-align: center;

                    input{

                        width: 280px;
                    }

                    .react-autosuggest__container--open .react-autosuggest__suggestions-container {
                        
                        width: 280px;
                        
                    }


                }


                ul{
                    @include rect-center(280px,initial);
                    li{
                        
                        float: none;

                    }
                }       
            }
        }

    }




    //---------------------------   cart   ---------------------------//

    .cart-bg{

        .cart-main-bg{
            .cart-plain-bg{

                @include margin-v(0px);
                width: 100%;

                .togglable-tabs-bg{
                    width: 100%;
                    margin-top: 0px;

                    .tabs-step{
                        
                        @include rect-center(320px,50px);
                        .tabs-md{
                            
                            display: none;
                            li{


                            }
                        }
                        
                        .tabs-mb{
                            
                            display:block;

                            li{


                            }
                        }




                    }



                    .tabs-section-bg{
                        width: 320px;
                        .section-grp{
                            width: 100%;
                            .cartlist-comp{


                                .tabs-card-bg{
                                    
                                    .tabs-titles{
                                        display: none;
                                    }


                                    .tabs-items-ul{
                                        height: initial;
                                        li{
                                            @include rect-center(320px,180px);
                                            @include margin-v(20px);
                                            border: none;

                                            .items-md{
                                                
                                                display: none;

                                            }

                                            .items-mb{

                                                display: block;
                                            }
                                            





                                        } 
                                    }
                                }


                                .tabs-sum-bg{
                                    .tabs-sum-container{
                                        
                                        @include rect-center(300px,initial);
                                        float: none;

                                    }
                                }

                                .divide-line-full{

                                    display: none;
                                }


                                .submit-bg{

                                    .submit-container{

                                        width: 280px;

                                        button{
                                            width: 120px;
                                        }
                                    }
                                } 
                            }
                        }
                    }





                    
                }                
            }
        }
    }

    

    //------------------------------------------------------//



}

