@import "../../base/base.scss";


.menu {
    
    @include rect(500px,30px);
    margin-left: 30px;
    padding: 0;

    
    li {
        
        @include text-middle(30px);  
        display:inline-block;
        float:left;
        display:block;
        text-align: center;
        line-height: 14px;
        
        
        &:nth-child(2){

            @include margin(20px);

        }

        &:nth-child(5) {

            margin-left: 0px;
            /* width: 100px; */
            width: 90px;
            display: block;

        }
    
        // &:nth-child(3) {

        //     margin-left:100px;

        // }




        a{
            @include text-middle(30px);
            font-weight: 100;
            font-size: 14px;
            color: #fff;
            text-decoration:none;

        }




    }


    .underline-effect {
        letter-spacing: 0;
    }

    .underline-effect:hover,
    .underline-effect:active {
      // letter-spacing: 5px;
    }

    .underline-effect:after,
    .underline-effect:before {
      backface-visibility: hidden;
      border: 1px solid rgba(#CDB993, 0);
      bottom: 0px;
      content: " ";
      display: block;
      margin: 0 auto;
      position: relative;
      transition: all 280ms ease-in-out;
      width: 0;
      margin-top: 2px;

      
    }

    


    .underline-effect:hover:after,
    .underline-effect:hover:before {
      backface-visibility: hidden;
      border-color: #CDB993;
      transition: width 350ms ease-in-out;
      width: 80%;
    }

    .underline-effect:hover:before {
      bottom: auto;
      top: 0;
      width: 80%;
    }


    .underline-effect:before{
      display: none;
    }

    // li:nth-child(5) {

    //     margin-right:100px;

    // }

    
    // li:nth-child(3) {
        
    //     margin-left:100px;

    // }




}

