// @import "../../base/base.scss";


// .thumbnails-comp{
    
//     @include rect-center(1080px,300px);
//     @include margin-v(50px);
//     margin-top:80px;

//     .thumbnails-li{
        
//         @include rect(270px,initial);
//         // @include margin(20px);
//         position: relative;
//         text-align: center;
//         float: left;


//         img{
            
//             @include center;
//             @include circle(220px);
//             margin-bottom: 20px;


//         }

//         span{

//             font-size: 18px;
//             font-weight: bold;

//         }

//         .info{
//             @include rect-center(160px,initial);
//             font-size: 14px;
//             line-height: 25px;
//         }

//     }
  
// }

